<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="faq-container">
        <h3>Happening Now: Earthquake</h3>
        <h3>FAQs</h3>
        <ul>
            <li>Stay inside if already inside</li>
            <li>get under a table</li> 
            <li>stay under a door frame </li>
            <li>don't move until aftershocks have passed </li>
        </ul>
    </div>
</body>
</html>